

.navbar {
    background-color: #CBDDB5;
    color: white;
    padding: 100px 200px;
    margin-left:  5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar .logo img {
    width: 120px;
    height: auto;
}

.navbar form {
    display: flex;
    align-items: center;
}

.navbar form label {
    margin-right: 10px;
    color: white;
}

.navbar form input[type="search"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.navbar form input[type="submit"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.navbar .icon {
            color: white;
            text-decoration: none;
            font-size: 40px; /* Ajusta el tamaño de los iconos */
}

.grupoIconos{
    margin-right: 20%;
}

.icon{
    display: flex;
    justify-content: space-between;
}

header{
    margin-bottom: 5px;
    background-color: #CBDDB5;
}
@media only screen and (min-width: 600px) { /* dispositivo de hasta 600px  */
    .col-s-1 {width: 8.33%;}  
    .col-s-2 {width: 16.66%;}   
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}   
  }
  @media only screen and (min-width: 768px) {  /* dispositivo de hasta 768px */
    .col-1 {width: 8.33%;}  
    .col-2 {width: 16.66%;} 
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

.enlaces{
    background-color: #98b17a;
    text-align: center;
}
.enlaces a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.enlaces a:hover{
    background-color: #8acad2;
    color: black;
}
.carousel-item{
    height: 400px;
}

.icon{
    display: flex;
}

.icon a{
    text-decoration: none;
    color: #98b17a;
}
.iconoGrande{
    size: 150px;
}

.nav div{
    display: flex;
   align-items: center;
}

