* {
    margin: 0;
    padding: 0;
    }

/*Estilos del Header*/
header {
    background-color: #CBDDB5;
}


/*clase contenedor*/
.navbar {
    background-color: #f7feef;
    color: white;
    padding: 10% 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*item1 logo*/
.iniciologo {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 3%;
}

.titulo1 {
    color: #608334;
}

.logo img {
    width: 120px;
    height: auto;
}


/*item2 barra de busqueda*/
.navbar .form1 {
    display: flex;
    width: 500px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #98b17a;
    padding: 4px;
    background-color: white;
    margin-top: 3%;
}

/*Barra de texto*/
.navbar input[type=search] {
    width: 100%;
    border: none;
}

/*botón de búsqueda*/
.navbar input[type=image] {
    width: 30px;
    padding-left: 2px;
}


/*item3 Iconos de usuario y carrito*/
.navbar .icon {
    color: white;
    text-decoration: none;
    font-size: 50px;
    padding-right: 5%;
    /* Ajusta el tamaño de los iconos */
}

.grupoIconos {
    margin-right: 40%;
}

.icon {
    display: flex;
    justify-content: space-between;
}

.icon a {
    text-decoration: none;
    color: #608334;
    padding-right: 5px;
}

.iconoGrande {
    size: 150px;
}


/*item4 menú*/
.enlaces {
    width: 100%;
    background-color: #98b17a;
    text-align: center;
    align-content: space-between;
}

.enlaces a {
    display: inline-block;
    color: #f2f2f2;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.enlaces a:hover {
    background-color: #8acad2;
    color: black;
}

.categorias {
    background-color: #98b17a;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .enlaces1 {
    position: relative;
    display: inline-block;
    background-color: #98b17a;
  }
.categorias-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .categorias-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .categorias-content a:hover {background-color: #f1f1f1}
  
  .enlaces1:hover .categorias-content {
    display: block;
  }
  
  .enlaces1:hover .categorias {
    background-color: #8acad2;
    color: black;
  }

/*Modificación del header para tablet/celular*/
@media only screen and (max-width: 1000px) {

    /*item1 logo*/
    .iniciologo {
        width: 50%;
        order: 1;
        /*orden de item*/
        display: flex;
        text-align: center;
        flex-direction: column;
        align-content: flex-start;
        padding-left: 5%;
    }

    .titulo1 {
        color: #608334;
    }

    .logo img {
        width: 100px;
        height: auto;
    }


    /*item3 Iconos de usuario y carrito*/
    .navbar .icon {
        order: 2;
        /**cambio de orden de item**/
        color: white;
        text-decoration: none;
        font-size: 45px;
        padding-right: 15%;
        /* Ajusta el tamaño de los iconos */
    }


    /*item4 menú*/
    .enlaces {
        order: 4;
        width: 100%;
        background-color: #98b17a;
        text-align: center;
        align-content: space-between;
    }

    /*item4 barra de busqueda*/
    .navbar .form1 {
        order: 3;
        /*cambio de orden de item*/
        display: flex;
        width: 90%;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 4px;
        border: 2px solid #98b17a;
        padding: 4px;
        background-color: white;
        margin-left: 5%;
        margin-bottom: 2%;
        margin-top: 1%;
    }
}


/*carrusel*/
.carousel-item {
    height: 100%;
    width: fit-content;
}


/*categorias*/
#CATEG {
    background-color: #98b17a;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
}

/*clase contenedor*/
.categorias-productos {
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
}

.textofondo1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

/*item1*/
.higiene-personal {
    position: relative;
}

.higiene-personal img {
    opacity: 1;
    display: block;
    width: 80%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.higiene-personal:hover .img1 {
    box-shadow: 0 12px 16px 0 rgba(0, 156, 177), 0 17px 50px 0 rgba(0, 156, 177);
    opacity: 0.3;
}

.higiene-personal:hover .textofondo1 {
    opacity: 1;
}

.text01 {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

/*item2*/
.cuidado-de-la-piel {
    position: relative;
}

.cuidado-de-la-piel img {
    opacity: 1;
    display: block;
    width: 80%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.cuidado-de-la-piel:hover .img2 {
    box-shadow: 0 12px 16px 0 rgba(0, 156, 177), 0 17px 50px 0 rgba(0, 156, 177);
    opacity: 0.3;
}

.cuidado-de-la-piel:hover .textofondo1 {
    opacity: 1;
}

.text02 {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

/*item3*/
.cuidado-del-cabello {
    position: relative;
}

.cuidado-del-cabello img {
    opacity: 1;
    display: block;
    width: 80%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.cuidado-del-cabello:hover .img3 {
    box-shadow: 0 12px 16px 0 rgba(0, 156, 177), 0 17px 50px 0 rgba(0, 156, 177);
    opacity: 0.3;
}

.cuidado-del-cabello:hover .textofondo1 {
    opacity: 1;
}

.text03 {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

/*item4*/
.decoracion {
    position: relative;
}

.decoracion img {
    opacity: 1;
    display: block;
    width: 80%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.decoracion:hover .img4 {
    box-shadow: 0 12px 16px 0 rgba(0, 156, 177), 0 17px 50px 0 rgba(0, 156, 177);
    opacity: 0.3;
}

.decoracion:hover .textofondo1 {
    opacity: 1;
}

.text04 {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

/*item5*/
.limpieza-del-hogar {
    position: relative;
}

.limpieza-del-hogar img {
    opacity: 1;
    display: block;
    width: 80%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
}

.limpieza-del-hogar:hover .img5 {
    box-shadow: 0 12px 16px 0 rgba(0, 156, 177), 0 17px 50px 0 rgba(0, 156, 177);
    opacity: 0.3;
}

.limpieza-del-hogar:hover .textofondo1 {
    opacity: 1;
}

.text05 {
    color: rgb(0, 0, 0);
    font-size: 14px;
    /*padding: 16px;*/
}


/*Modificación de categorias para tablet/celular*/
@media only screen and (max-width: 1000px) {
    .categorias-productos {
        width: 100%;
        padding-left: 10%;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        position: relative;
        flex-wrap: wrap;
    }

    .higiene-personal {
        position: relative;
        width: 50%;
        margin-bottom: 2%
    }

    .cuidado-de-la-piel {
        position: relative;
        width: 50%;
        margin-bottom: 2%;
    }

    .cuidado-del-cabello {
        position: relative;
        width: 50%;
        margin-bottom: 2%;
    }

    .decoracion {
        position: relative;
        width: 50%;
    }

    .limpieza-del-hogar {
        position: relative;
        width: 50%;
    }
}

/*acerca de nosotros*/
#nosotros {
    background-color: #98b17a;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
}

/*clase contenedor*/
.acercadenosotros {
    padding-left: 3%;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
}

/*item1*/
.textonosotros {
    position: relative;
    width: 100%;
}

.titulo2 {
    text-align: center;
    padding-top: 2%;
    color: #608334;
}

.texto {
    text-align: justify;
    margin: 2%;
    font-size: 18px;

}

/*item2*/
.logonosotros {
    position: relative;
    width: 100%;
    padding-top: 2%;
    margin-left: 10%;
}

.logonosotros img {
    width: 80%;
}


@media only screen and (max-width: 1000px) {
    .acercadenosotros {
        padding-left: 3%;
        display: block;
        justify-content: space-between;
        align-content: center;
        position: relative;
    }

    .logonosotros img {
        width: 50%;
    }

    .logonosotros {
        position: relative;
        align-content: center;
        width: 100%;
        padding-top: 2%;
        margin-left: 25%;
    }
}

/*Contacto*/
#contacto {
    background-color: #98b17a;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
}

/*clase contenedor*/
.contact {
    display: flex;
    justify-content: center;
    background-color: #f7feef;
}

/*item1*/
#textoContacto {
    width: 50%;
    padding: 2% 5% 5%
}

/*item2*/
#contactForm {
    width: 100%;
    padding-top: 5%;
}

form {

    margin-bottom: 5em;
}

label,
textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
}

input[type="submit"] {
    text-align: center;
    background-color: #98b17a;
    color: white;
    padding: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1em;
    width: 20%;
}

input[type="submit"]:hover {
    color: black;
    background-color: #8acad2;
    margin-top: 1em;
    width: 20%;
}


@media only screen and (max-width: 1000px) {
    .contact {
        display: block;
        justify-content: center;
        background-color: #f7feef;
    }

    #textoContacto {
        width: 100%;
        padding: 2%
    }

    #contactForm {
        width: 90%;
        padding-top: 1%;
        padding-bottom: 2%;
        margin-left: 5%;
        margin-bottom: 1%;
    }
}

.logosesion {
    text-align: center;
    height: 40%;
    padding: 1%;
    margin-left: 2%;
}

#titulo3 {
    text-align: center;
    color: #608334;
    padding-top: 2%;
    padding-bottom: 1%;
}

.usuarioform {
    width: 300px; /* Ancho deseado del formulario */
        max-width: 100%; /* Ancho máximo para asegurarse de que no se extienda más allá */
        margin: 0 auto; /* Centra el formulario horizontalmente */
}

.usuarioform input[type="text"],
.usuarioform input[type="password"],
.usuarioform input[type="submit"] {
    width: 100%; /* Ancho del 100% para los inputs y el botón */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    margin-bottom: 10px; /* Espacio entre los elementos */
}

#registroform {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#pregunta {
    text-align: center;
}


#volver {
    text-decoration: none;
    text-align: center;
    background-color: #98b17a;
    color: white;
    padding: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1%;
    width: 20%;
}

#volver:hover {
    color: black;
    background-color: #8acad2;
    width: 20%;
    margin: 1%;
}



/*cards*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.card {
      
    border: 1px solid #dee2e6;
    border-radius: 10px;
    width: 200px;
    margin: 1%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s;
}
.card:hover {
    position: relative;
    transform: scale(1.05);
}
.card img {
    position: relative;
    width: 100%;
    height: auto;
}
.card-body {
    position: relative;
    padding: 15px;
}
.card-title {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #343a40;
}

.card-category{
    font-size: 1em;
    margin: 0 0 10px;
    color: #343a40;
}
.card-text {
    color: #6c757d;
    margin-bottom: 15px;
}
.price {
    font-size: 1.2em;
    color: #28a745;
    margin-bottom: 10px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #0056b3;
}

/*estilos del footer*/
footer{
    background-color: #444444;
    padding: 1%;
    margin-top: 2%;
}

.textof{
    color: #ffffff;
}

.textof a{
    text-decoration: none;
    color: #ffffff;
}
.logosf {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-left: 5%;
}

.logosf .imgin{
    width: 30%;
}
.logosf .imgpin{
    width: 30%;
}
.logosf .imgwpp{
    width: 30%;
}
