.navbar {
    background-color: #CBDDB5;
    color: white;
    padding: 100px 200px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar .logo img {
    width: 120px;
    height: auto;
}

.navbar form {
    display: flex;
    align-items: center;
}

.navbar form label {
    margin-right: 10px;
    color: white;
}

.navbar form input[type="search"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.navbar form input[type="submit"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.navbar .icon {
    color: white;
    text-decoration: none;
    font-size: 40px;
    /* Ajusta el tamaño de los iconos */
}

.grupoIconos {
    margin-right: 20%;
}

.icon {
    display: flex;
    justify-content: space-between;
}

header {
    margin-bottom: 5px;
    background-color: #CBDDB5;
}

@media only screen and (min-width: 600px) {

    /* dispositivo de hasta 600px  */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* dispositivo de hasta 768px */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

#enlaces {
    background-color: #98b17a;
    text-align: center;
}

#enlaces a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

#enlaces a:hover {
    background-color: #8acad2;
    color: black;
}

.carousel-item {
    height: 400px;
}

.icon {
    display: flex;
}

.icon a {
    text-decoration: none;
    color: #608334;
}

.iconoGrande {
    size: 150px;
}

.nav div {
    display: flex;
    align-items: center;
}

.titulo1 {

    color: #608334;
    margin-right: 15%;
}

.categorias-productos {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "higiene-personal cuidado-de-la-piel cuidado-del-cabello decoracion limpieza-del-hogar";
}

#CATEG {
    background-color: #98b17a;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    margin: 1% 0%;
}

.textofondo1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.higiene-personal {
    grid-area: higiene-personal;
    position: relative;
    width: 100%;
}

.higiene-personal img {
    width: 80%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
    cursor: pointer;
    /* -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;*/
}

.higiene-personal:hover .img1 {
    box-shadow: 0 12px 16px 0 rgba(0, 156, 177), 0 17px 50px 0 rgba(0, 156, 177);
    opacity: 0.3;
}

.higiene-personal:hover .textofondo1 {
    opacity: 1;
}

.text01 {
    /*background-color: #8acad2;*/
    color: rgb(0, 0, 0);
    font-size: 16px;
    /*padding: 16px 32px;*/
}

.cuidado-de-la-piel {
    grid-area: cuidado-de-la-piel;
    position: relative;
    width: 100%;
}

.cuidado-de-la-piel img {
    width: 80%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
    cursor: pointer;
    /* -webkit-transition-duration: 0.4s; 
     transition-duration: 0.4s;*/
}

.cuidado-de-la-piel:hover .img2 {
    box-shadow: 0 12px 16px 0 rgba(0, 156, 177), 0 17px 50px 0 rgba(0, 156, 177);
    opacity: 0.3;
}

.cuidado-de-la-piel:hover .textofondo1 {
    opacity: 1;
}

.text02 {
    /* background-color: #8acad2;*/
    color: rgb(0, 0, 0);
    font-size: 16px;
    /*padding: 16px 32px;*/
}

.cuidado-del-cabello {
    grid-area: cuidado-del-cabello;
    position: relative;
    width: 100%;
}

.cuidado-del-cabello img {
    width: 80%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
    cursor: pointer;
    /* -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;*/
}

.cuidado-del-cabello:hover .img3 {
    box-shadow: 0 12px 16px 0 rgba(0, 156, 177), 0 17px 50px 0 rgba(0, 156, 177);
    opacity: 0.3;
}

.cuidado-del-cabello:hover .textofondo1 {
    opacity: 1;
}

.text03 {
    /* background-color: #8acad2;*/
    color: rgb(0, 0, 0);
    font-size: 16px;
    /*padding: 16px 32px;*/
}

.decoracion {
    grid-area: decoracion;
    position: relative;
    width: 100%;
}

.decoracion img {
    width: 80%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
    cursor: pointer;
    /* -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;*/
}

.decoracion:hover .img4 {
    box-shadow: 0 12px 16px 0 rgba(0, 156, 177), 0 17px 50px 0 rgba(0, 156, 177);
    opacity: 0.3;
}

.decoracion:hover .textofondo1 {
    opacity: 1;
}

.text04 {
    /* background-color: #8acad2;*/
    color: rgb(0, 0, 0);
    font-size: 16px;
    /*padding: 16px 32px;*/
}

.limpieza-del-hogar {
    grid-area: limpieza-del-hogar;
    position: relative;
    width: 100%;
}

.limpieza-del-hogar img {
    width: 80%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
    cursor: pointer;
    /* -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;*/
}

.limpieza-del-hogar:hover .img5 {
    box-shadow: 0 12px 16px 0 rgba(0, 156, 177), 0 17px 50px 0 rgba(0, 156, 177);
    opacity: 0.3;
}

.limpieza-del-hogar:hover .textofondo1 {
    opacity: 1;
}

.text05 {
    /* background-color: #8acad2;*/
    color: rgb(0, 0, 0);
    font-size: 16px;
    /*padding: 16px 32px;*/
}

#nosotros {
    background-color: #98b17a;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    margin: 1% 0%;
}

.titulo2 {
    text-align: center;
}

.texto {
    text-align: justify;
    margin: 5em;
}

#contacto {
    background-color: #98b17a;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    margin: 1% 0%;
}

.productoHigiene {
    width: 100%;
}

.productoPiel {
    width: 100%;
}

.productoCabello {
    width: 100%;

}

.productoDecoHogar {
    width: 100%;

}

.productoLimpHogar {
    width: 100%;
}


.oculto {
    height: 0;
    overflow: hidden;
    /* Evita que el contenido oculto se muestre */
    transition: height 0.3s ease;
    /* Transición suave */
}

/* Estilo para mostrar los elementos */
.mostrado {
    padding-top: 3em;
    height: 40em;
    /* Altura deseada */
    transition: height 0.3s ease;
    /* Transición suave */
}

form {

    margin-bottom: 5em;
}

label,
textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #98b17a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1em;
    width: 20%;
}

input[type="submit"]:hover {
    color: black;
    background-color: #8acad2;
    margin-top: 1em;
    width: 20%;
}

.contact {
    display: flex;
    justify-content: center;
    background-color: #f7feef;
}

#textoContacto {
    width: 50%;
    padding: 2% 5% 5%
}

#contactForm {
    width: 100%;
    padding-top: 5%;
}

.usuarioform {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "iniciodesesion registro";
}

#iniciodesesion {
    grid-area: iniciodesesion;
    position: relative;
    width: 100%;
}

#registro {
    grid-area: registro;
    position: relative;
    width: 100%;
    
}

#inicioform {
    border: none;
    text-align: center;
    margin: 5%;
}

#registroform {
    border: none;
    text-align: center;
    margin: 5%;
}
.navusuario {
    padding: 2%;
}

#inicio a{
    text-decoration: none;
    background-color: #98b17a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1%;
    width: 20%;
}

#inicio a:hover {
    color: black;
    background-color: #8acad2;
    margin-top: 1em;
    width: 20%;
}



